version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:22.15
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Install dependencies
          command: npm install

      # - run:
      #     name: Lint the code
      #     command: npm run lint

      # - run:
      #     name: Run tests
      #     command: npm test

      - run:
          name: Build Docker image
          command: |
            echo "Building Docker image"
            docker build -t "$DOCKER_USERNAME/node-app:latest" .

      - run:
          name: Push Docker image
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push "$DOCKER_USERNAME/node-app:latest"

# Docker build step
      - run:
          name: Build Docker image
          command: |
            echo "Building Docker image"
            docker build -t "$DOCKER_USERNAME/backstage-circleci-integration:latest" .
      # Docker push step
      - run:
          name: Push Docker image to Docker Hub
          command: |
            echo "Pushing Docker image to Docker Hub"
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push "$DOCKER_USERNAME/backstage-circleci-integration:latest"

workflows:
  build_test_deploy:
    jobs:
      - build:
          filters:
            branches:
              only: main
